<div class="d-flex justify-content-between">
    <div class="d-flex">
        <%= image_tag "profile-default", class:"img-thumbnail rounded-circle border border-2", style:"width: 2.5rem;"%>
        <div class="d-flex flex-column mx-2">
            <small class="fw-bold" style="overflow:hidden; white-space: nowrap; text-overflow:ellipsis; max-width:10rem;">umair__ah</small>
            <small class="text-muted" style="font-size: 0.7rem; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; max-width:10rem;">Suggested For You By Instagram As he Followed You Before</small>
        </div>
    </div>

    <%= link_to root_path, style:"text-decoration: none;" do %>
        <small class="fw-bold text-primary">Follow</small>

    <% end %>

</div>